name: Lint
on:
    push:
    pull_request_target:
    workflow_dispatch:

permissions: write-all

jobs:
    format:
        name: Format
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
              with:
                  token: ${{secrets.TOKEN || secrets.GITHUB_TOKEN}}
                  ref: ${{github.head_ref}}
                  repository: ${{github.event.pull_request.head.repo.full_name}}

            - name: Format
              uses: psf/black@05f0a8ce1f71fbb36e1e032d3b518c7b945089a2 # 25.11.0
              with:
                  options: "--preview --unstable -C"
                  jupyter: true

            - name: Assert clean
              if: startsWith(github.ref_name, 'dependabot/') == true
              run: if [[ `git status --porcelain` ]]; then exit 1; fi

            - name: Commit
              uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # v7.0.0
              with:
                  commit_message: Format

    analyze:
        name: Analyze
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
              with:
                  ref: ${{github.head_ref}}
                  repository: ${{github.event.pull_request.head.repo.full_name}}

            - name: Setup CodeQL
              uses: github/codeql-action/init@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
              with:
                  languages: python
                  queries: security-and-quality

            - name: Analyze
              uses: github/codeql-action/analyze@fe4161a26a8629af62121b670040955b330f9af2 # v4.31.6
